:root {
    box-sizing: border-box;
    font-size: 16px;
    --darkest-blue: hsl(217, 19%, 35%);
    --darker-blue: hsl(214, 17%, 51%);
    --lighter-blue: hsl(212, 23%, 69%);
    --lightest-blue: hsl(210, 46%, 95%);
    font-family: "Manrope", serif;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.heading {
    font-size: 20px;
    font-weight: bold;
    line-height: 130%;
    letter-spacing: 0.25px;
}

.bodyM {
    font-size: 13px;
    font-weight: normal;
    line-height: 140%;
}

.bodyB {
    font-size: 13px;
    font-weight: bold;
    line-height: 140%;
}

.bodyE {
    font-size: 13px;
    font-weight: normal;
    line-height: 140%;
    letter-spacing: 25%;
}

.uppercase {
    text-transform: uppercase;
}

body {
    background-color: var(--lightest-blue);
}

main {
    width: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 1em;
}

.card {
    display: flex;
    flex-direction: column;
}

.card>*+* {
    margin-top: 1.5em;
}

.hero-image {
    height: 220px;
    overflow: hidden;
    border-radius: 1em 1em 0 0;
}
.hero-image > img {
    object-fit: cover;
    width: 100%;
    height: 120%;
}

h1 {
    color: var(--darkest-blue);
}

h2 {
    color: var(--darker-blue);
}

.narrative {
    margin-left: 2em;
    margin-right: 2em;
}

.narrative>*+* {
    margin-top: 1.5em;
}

.card-footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    padding-bottom: 1.5em;
    border-radius: 0 0 1em 1em;
    padding: 1em 2em 1.5em 2em;
    margin-left: -2em;
    margin-right: -2em;
}

.author {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 1em;
}

.author>.avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.author-info>span {
    display: block;
}

.author-info>.author-name {
    color: var(--darkest-blue);
}
.preview-date {
    color: var(--lighter-blue);
}

#activate {
    grid-row: inherit 1/2;
    grid-column: 2/3;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background-color: var(--lightest-blue);
    margin-left: auto;
    padding: 0;
    border: none;
}
#activate:hover, #activate:focus {
    cursor: pointer;
}

#activate >.share-icon {
    width: 13px;
    height: 13px;
    margin: 9px;
    /* filter:brightness(500%); */
}

.tooltip {
    display: none;
    grid-row: 1/2;
    grid-column: 1/2;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    color: var(--lightest-blue);
    background-color: var(--darkest-blue);
}
.tooltip > img {
    width: 20px;
    height: 20px;
}

.tooltip.active {
    display: flex;
}
.card-footer.active {
    background-color: var(--darkest-blue);
}
#activate.active {
    background-color: var(--darker-blue);
}
.share-icon.active {
    filter: brightness(500%);
}

@media only screen and (min-width: 700px) {
    main {
        width: 600px;
        height: 360px;
    }

    .card {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .hero-image {
        height: 100%;
        overflow: hidden;
        flex: 1 1 40%;
        border-radius: 1em 0 0 1em;
    }
    .hero-image > img {
        object-fit: fill;
        width: 120%;
    }
    
    .narrative {
        flex: 1 1 60%;
        margin-top: 0;
        padding: 2rem;
    }
    .tooltip {
        display: flex;
        visibility: hidden;
        width: 250px;
        background-color: var(--darkest-blue);
        border-radius: 0.5em;
        padding: 1em 1.5em;
        position: absolute;
        z-index: 1;
        bottom: 140%;
        right: -90%;
    }

    .tooltip::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -7px;
        border-width: 7px;
        border-style: solid;
        border-color: var(--darkest-blue) transparent transparent transparent;
    }

    .tooltip.active {
        visibility: visible;
    }
    .card-footer.active {
        background-color: initial;
    }
}
@media only screen and (min-width: 1200px) {
    main {
        width: 730px;
        height: 280px;
    }
    .hero-image > img {
        height: 100%;
        width: 120%;
    }
    .tooltip {
        bottom: 140%;
        right: -75%;
    }
}
